
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://stars-h2020.eu/wp-content/uploads/2018/03/Photo-INEA-Project-Fiche.png);">
  <div class="container">
  <h1>Sharing is Caring</h1>
  <p>Your local eco-friendly car service</p>
    <a class="btn btn-flat" href="#">Available Cars</a>
  </div>
</div>
