.card-product {
  overflow: hidden;
  height: 180px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;

  img {
    height: 100%;
    width: 160px;
    border-radius: 10px;
    object-fit: center;
    background-size: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product-infos {
    padding: 16px;
  }
}

.action-buttons {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
