.container-index{
  display: grid;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    color: rgb(20, 19, 19);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    font-family: PT Serif;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
    opacity: .7;
  }
}
