.rent-your-car {
  margin-top: 100px;
}

.input-form {
  position: relative;
  margin-bottom: 15px;

  .new-renting-button {
    position: absolute;
    right: 0;
  }
}

.flatpickr-calendar.inline {
  margin: 0 auto;
}
