<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://stars-h2020.eu/wp-content/uploads/2018/03/Photo-INEA-Project-Fiche.png);">
  <div class="container">
  <h1>Sharing is Caring</h1>
  <p>Your local eco-friendly car service</p>
  </div>
</div>
<br>

<div class="container-index">
  <h1>All Cars</h1>
  <% @cars.each do |car| %>
    <div class="card-product">
      <img src="http://www.carsharing-blog.de/wp-content/uploads/2013/04/muenchen_carsharing.jpg" />
      <div class="card-product-infos">
      <h2><%= car.model %></h2>
      <p><%= car.description %></p>
    </div>
  </div>
  <br>
  <% end %>

  <div class="text-center">
    <%= link_to "Back to Homepage", root_path, class: "btn btn-secondary"%>
  </div>
</div>
