<div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://stars-h2020.eu/wp-content/uploads/2018/03/Photo-INEA-Project-Fiche.png);">
  <div class="container">
  <h1>Sharing is Caring</h1>
  <p>Your local eco-friendly car service</p>
  </div>
</div>
<br>

<div class="container-index">
  <h1>All Cars</h1>
  <% @cars.each do |car| %>
    <div class="card">
      <div><%= car.brand %></div>
      <div><%= car.model%></div>
      <div><%= car.seats%></div>
      <div><%= car.description%></div>
    </div>
  <% end %>
</div>
