<div class="container">
  <h1>See all cars</h1>
    <div class="card-product">
    <img src="https://bildagentur.panthermedia.net/m/lizenzfreie-bilder/19783009/car-sharing-with-the-smartphone/#highprv" />
    <div class="card-product-infos">
      <h2>Your Car</h2>
      <p>A Car for having fun <strong><%= @car.model %></strong> only.</p>
    </div>
  </div>
</div>
