<div class="container">
  <h1>Choose one car</h1>
    <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <h2><%= @car.brand %> <%= @car.model %></h2>
      <p><%= @car.description %></p>
      <p>seats:<%= @car.seats %></p>
    </div>
  </div>
</div>
